<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Update owner</title>
</head>
<body>
<form action="#" th:action="@{/owner-update}" th:object="${owner}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <br/>
    <label for="id">Age</label>
    <input type="number" min="0" th:field="*{age}" id="age" placeholder="Age">
    <br/>
    <input type="submit" value="Update Owner">
</form>
</body>
</html>